<h1>Livros disponíveis:</h1>

<div class="books-container">
  <a href="/">Adicionar livro</a>
  {{#each books}}
    <div>
      #{{this.id}} - 
      <span class="bold"><a href="/book/{{this.id}}">{{this.title}}</a></span> - {{this.pagesqty}} páginas
    </div>
  {{/each}}
</div>